# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# http://doc.scrapy.org/topics/scrapyd.html

[settings]
default = testscrapy.settings


[deploy]
url = http://localhost:6801
project = testscrapy
version = 0.0.1