<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Yahoo News</title>
    <link rel="stylesheet" href="/static/components/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/components/bootstrap/css/bootstrap-responsive.css">
    <style>
      body {
        padding-top: 40px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

  </head>

<body>
	<div id="container" class="hero-unit">{% block content %}{% endblock %}</div>
    
    <div id="footer" class="well">
        {% block footer %}
        &copy; Copyright 2012 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
    
    {%block js%}{%endblock%}
    <script src="/static/components/jquery/jquery.js"></script>
    <script src="/static/components/es5-shim/es5-shim.js"></script>
    <script src="/static/components/es5-shim/es5-sham.js"></script>
</body>

</html>
