{% extends "base.html" %}
{% block content %}
  <div id="news_panel" class="span10">

{% endblock%}    

{% block js %}

<script data-main="/static/requireMain.js" src="/static/components/requirejs/require.js"></script>

<script>
  require(
    [
      'components/flight/lib/compose',
      'components/flight/lib/registry',
      'components/flight/lib/advice',
      'components/flight/lib/logger',
      'components/flight/tools/debug/debug'
    ],

    function(compose, registry, advice, withLogging, debug) {
      debug.enable(true);
      compose.mixin(registry, [advice.withAdvice, withLogging]);
      // require(['app/boot/page'], function(initialize) {
      //   initialize();
      // });
      }
  );
</script>

{% endblock %}
